<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contacto</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">TING Hotels</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="hotelesdestinos">Vuelos y destinos</a></li>
                    <li class="nav-item"><a class="nav-link active" href="about">Contáctanos</a></li>
                    <li class="nav-item"><a class="nav-link" href="opinion">Opiniones</a></li>
                    <!--li class="nav-item"><a class="nav-link" href="hoteldescrip">prueba</a></li-->
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block about-us"><div class="container">
    <div class="block-heading">
        <h2 class="text-info">Sobre nosotros</h2>
        <p>Somos un equio detemrinado a ofrecer el mejor servicio al cliente posible</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6 col-lg-4">
            <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="" />
                <div class="card-body info">
                    <h4 class="card-title">Alberto Ramos Monagas</h4>
                    <a class="lightbox" href="https://scontent-mad1-1.xx.fbcdn.net/v/t1.0-9/90849256_3061149560614560_4679203754724032512_n.jpg?_nc"><img class="img-thumbnail img-fluid image" src="https://scontent-mad1-1.xx.fbcdn.net/v/t1.0-9/90849256_3061149560614560_4679203754724032512_n.jpg?_nc_cat=111&ccb=2&_nc_sid=09cbfe&_nc_ohc=1xJy-m8fPn4AX-3z17s&_nc_ht=scontent-mad1-1.xx&oh=9e88fd22c19d4905916762beda8ad0f3&oe=5FBB2A7A"></a>
                    <p class="card-text">KTB (G) a la salida</p>
                    <div class="icons"><a href="https://www.facebook.com/alberto.ramosmonagas"><i class="icon-social-facebook"></i></a><a href="https://www.instagram.com/albertoramosmo/"><i class="icon-social-instagram"></i></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="" />
                <div class="card-body info">

                    <h4 class="card-title">Antonio David Galván Hernández </h4>
                    <a class="lightbox" href="https://upload.wikimedia.org/wikipedia/commons/8/8d/Flag_of_the_Communist_Party_of_Vietnam.svg"><img class="img-thumbnail img-fluid image" src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Flag_of_the_Communist_Party_of_Vietnam.svg"></a>
                    <p class="card-text">Misterhit</p>
                    <div class="icons"><a href="https://www.instagram.com/antoniogalvanhernandez/"><i class="icon-social-instagram"></i></a></div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4">
            <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="" />
                <div class="card-body info">

                    <h4 class="card-title">Dayron Yaret Romero Godoy
                    </h4>
                    <a class="lightbox" href="https://media1.tenor.com/images/084404ddc6268f1548c0269fb53807c4/tenor.gif?itemid=15672129"><img class="img-thumbnail img-fluid image" src="https://media1.tenor.com/images/084404ddc6268f1548c0269fb53807c4/tenor.gif?itemid=15672129"></a>
                    <p class="card-text">Telemático en la sombra</p>
                    <div class="icons"><a href="https://www.instagram.com/dayk41/"><i class="icon-social-instagram"></i></a></div>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-lg-4">
            <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="" />
                <div class="card-body info">
                    <h4 class="card-title">Javier Verona Robaina</h4>   
                    <a class="lightbox" href="https://scontent-mad1-1.xx.fbcdn.net/v/t1.0-9/122528407_1908651299300814_623988138277980565_o.jpg?_nc_cat=102&ccb=2&_nc_sid=730e14&_nc_ohc=bNnl3E59zyYAX9nz_F8&_nc_ht=scontent-mad1-1.xx&oh=0ca219f55d185fc93df5bb96f0a8edcb&oe=5FBAE875"><img class="img-thumbnail img-fluid image" src="https://scontent-mad1-1.xx.fbcdn.net/v/t1.0-9/122528407_1908651299300814_623988138277980565_o.jpg?_nc_cat=102&ccb=2&_nc_sid=730e14&_nc_ohc=bNnl3E59zyYAX9nz_F8&_nc_ht=scontent-mad1-1.xx&oh=0ca219f55d185fc93df5bb96f0a8edcb&oe=5FBAE875"></a>
                    <p class="card-text">Workaholic</p>
                    <div class="icons"><a href="https://www.facebook.com/javiveronamusic/"><i class="icon-social-facebook"></i></a><a href="https://www.instagram.com/hineni_music/"><i class="icon-social-instagram"></i></a><a href="https://twitter.com/hinenimusic"><i class="icon-social-twitter"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div></section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Pagina principal</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Vuelos y destinos</h5>
                    <ul></ul>
                </div>
                <div class="col-sm-3">
                    <h5>Opiniones</h5>
                    <ul></ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2020 Misterhit team</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>