<!DOCTYPE html>

<html>

<head>

</head>

<body>


<h2>Destinos</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.destinos %> </li>
    <% }); %>

</ul>
</body>

</html>
