<html>

<head>
  <link rel='stylesheet' href='/stylesheets/hotelesydestinos.css'/>
</head>



  <nav class="ourHeader">
    <ul id="menu">
      <a class="headerLink"  href="/" >TING Hotels</a>
      <a class="headerLink" href="/hotelesdestinos" >Hoteles y destinos</a>
      <a class="headerLink" href="" >Vuelos+Hotel</a>
      <a class="headerLink" href="" >Check-in-Online</a>
      <a class="headerLink" href="" >Gestionar Reserva</a>
      <a class="headerLink" href="" >Contáctenos</a>
      <a class="headerLink" href="" >Mi cuenta</a>
    </ul>
  </nav>
</header>
<!-- / header -->
</div>
</div>
<!-- content -->
<div class="body2">
<div class="main">
<section id="content">
  <div class="wrapper">
    <article class="col1">
      <div class="pad2">
        <h1>Nuestros destinos</h1>
        <div class="wrapper">
        
          <p class="pad_bot1 color2"> <a href="/destinos"> Aquí encontrará una selección de nuestros mejores destinos hoteleros para su elección</a></p>
        </div>
      </div>
         

      <div class="gallery">
        <a target="_blank" href="https://www.hotelescenter.es/wp-content/blogs.dir/1601/files/home/New-Project.jpg">
          <img src="https://www.hotelescenter.es/wp-content/blogs.dir/1601/files/home/New-Project.jpg"  width="600" height="400">
        </a>
        <div class="desc"> Peterson's Bilt</div>
      </div>
      <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
     
     
      <div class="gallery">
        <a target="_blank" href="https://cdn2.paraty.es/best-corporate/images/e3125c1f7a1fae7_v6.jpeg=s1900">
          <img src="https://cdn2.paraty.es/best-corporate/images/e3125c1f7a1fae7_v6.jpeg=s1900"  width="600" height="400">
        </a>
        <div class="desc"> Palmtrees beach </div>
      </div>
      <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
      <div class="gallery">
        <a target="_blank" href="https://capturetheatlas.com/wp-content/uploads/2019/07/Reykjavik-Domes.jpg">
          <img src="https://capturetheatlas.com/wp-content/uploads/2019/07/Reykjavik-Domes.jpg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Northern Lights</div>
      </div>
      <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
      <div class="gallery">
        <div class="hide">
        <a target="_blank" href="https://media-cdn.tripadvisor.com/media/photo-s/16/08/c2/6a/ushuaia-ski-in-out-las.jpg">
          <img src="https://media-cdn.tripadvisor.com/media/photo-s/16/08/c2/6a/ushuaia-ski-in-out-las.jpg" alt="Mountains" width="600" height="400">
        </a>
      </div>
        <div class="desc">Mountain Brease</div>
</div>
<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

<!-- footer -->
<footer> <span class="call">Call Center: <span>123456789</span></span> Copyright &copy; <a href="https://github.com/Misterhit/Lab2TING" target="_blank">Misterhit</a> All Rights Reserved<br>
  Design by TeamAbascal
  <!-- {%FOOTER_LINK} -->
</footer>
<!-- / footer -->
</div>
</div>
<script>Cufon.now();</script>
</body>
</html>
