<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Vuelos y destinos</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">TING Hotels</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="hotelesdestinos">Vuelos y destinos</a></li>
                    <li class="nav-item"><a class="nav-link" href="about">Contáctanos</a></li>
                    <li class="nav-item"><a class="nav-link" href="opinion">Opiniones</a></li>
                    <!--li class="nav-item"><a class="nav-link" href="hoteldescrip">prueba</a></li-->

                </ul>
            </div>
        </div>
    </nav>
    <main class="page gallery-page">
        <section class="clean-block clean-gallery dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Vuelos y destinos</h2>
                    <p>Ponemos a su disposición un amplio rango de destinos creados para satisfacer sus necesidades</p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/29/53/2953328_v2.jpeg"><img class="img-thumbnail img-fluid image" src="https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/29/53/2953328_v2.jpeg"></a></div>
                    <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="https://www.hola.com/imagenes/viajes/20190619144266/siete-islas-canarias-siete-hoteles/0-693-484/islas-canarias-hoteles-increibles-m.jpg"><img class="img-thumbnail img-fluid image" src="https://www.hola.com/imagenes/viajes/20190619144266/siete-islas-canarias-siete-hoteles/0-693-484/islas-canarias-hoteles-increibles-m.jpg"></a></div>
                    <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="https://www.canarias.com/blog/wp-content/uploads/2015/05/REDLEVEL.jpg"><img class="img-thumbnail img-fluid image" src="https://www.canarias.com/blog/wp-content/uploads/2015/05/REDLEVEL.jpg"></a></div>
                    <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="https://www.lopesan.com/img/marcas/lopesan-hotels-resorts.jpg"><img class="img-thumbnail img-fluid image" src="https://www.lopesan.com/img/marcas/lopesan-hotels-resorts.jpg"></a></div>
                    <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="https://www.redaccionmedica.com/images/destacados/canarias-confirma-su-septimo-caso-de-infeccion-por-coronavirus-2406.jpg"><img class="img-thumbnail img-fluid image" src="https://www.redaccionmedica.com/images/destacados/canarias-confirma-su-septimo-caso-de-infeccion-por-coronavirus-2406.jpg"></a></div>
                    <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="https://media-cdn.tripadvisor.com/media/photo-s/15/32/ff/ef/constantinos-the-great.jpg"><img class="img-thumbnail img-fluid image" src="https://media-cdn.tripadvisor.com/media/photo-s/15/32/ff/ef/constantinos-the-great.jpg"></a></div>
                    <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/33/82/33820_v5.jpeg"><img class="img-thumbnail img-fluid image" src="https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/33/82/33820_v5.jpeg"></a></div>
                    <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="https://cf.bstatic.com/images/hotel/max1024x768/140/140295091.jpg"><img class="img-thumbnail img-fluid image" src="https://cf.bstatic.com/images/hotel/max1024x768/140/140295091.jpg"></a></div>
                    <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="https://cf.bstatic.com/images/hotel/max1024x768/232/232879034.jpg"><img class="img-thumbnail img-fluid image" src="https://cf.bstatic.com/images/hotel/max1024x768/232/232879034.jpg"></a></div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Pagina principal</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Vuelos y destinos</h5>
                    <ul></ul>
                </div>
                <div class="col-sm-3">
                    <h5>Opiniones</h5>
                    <ul></ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2020 Copyright Text</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>