<!DOCTYPE html>
<html>
  <head>
    <title>TING Hotels</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav class="ourHeader">
    <a class="headerLink"  href="/" >TING Hotels</a>
    <a class="headerLink" href="/hotelesdestinos" >Hoteles y destinos</a>
    <a class="headerLink" href="" >Vuelos+Hotel</a>
    <a class="headerLink" href="" >Check-in-Online</a>
    <a class="headerLink" href="" >Gestionar Reserva</a>
    <a class="headerLink" href="" >Contáctenos</a>
    <a class="headerLink" href="" >Mi cuenta</a>
    </nav>    

   <div class="welcome">
   <h1 class="welcomeTextS">Buscador de Hoteles</h1>
   </div>

<br><br>

   <div>
    <form class="ourForm">
    <label  class="hotelLabel" for="hotelname">Buscador de hotel</label><br>
    <input type="text" 
    id="hotelname" 
    name="hotelname"
    required>
    <input class="hotelButton" type="submit">
  </form>
  <br><br>

  <h3> Garantías de calidad </h3>
  <b target="_blank" href="https://fairhotels.es/assets/icons/Logo_Fairhotels_web_sinfondo-2127x2127.png">
    <img src="https://fairhotels.es/assets/icons/Logo_Fairhotels_web_sinfondo-2127x2127.png" alt="Cinque Terre" width="100" height="100">
  </b>
  <br><br>
  
  <h3> Destinos más reservados </h3>

  <div class="gallery">
    <a target="_blank" href="https://www.lavanguardia.com/r/GODO/LV/p5/WebSite/2018/02/19/Recortada/img_azarzoso_20180219-113919_imagenes_lv_terceros_istock-165688698-khLD-U44916587013bWD-992x558@LaVanguardia-Web.jpg">
      <img src="https://www.lavanguardia.com/r/GODO/LV/p5/WebSite/2018/02/19/Recortada/img_azarzoso_20180219-113919_imagenes_lv_terceros_istock-165688698-khLD-U44916587013bWD-992x558@LaVanguardia-Web.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">La habitación del Coletas</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="https://cf.bstatic.com/images/hotel/max1024x768/176/176692316.jpg">
      <img src="https://cf.bstatic.com/images/hotel/max1024x768/176/176692316.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">¿Qué hay dentro de un cable?</div>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="https://capturetheatlas.com/wp-content/uploads/2019/07/Reykjavik-Domes.jpg">
      <img src="https://capturetheatlas.com/wp-content/uploads/2019/07/Reykjavik-Domes.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">El retiro Swaghili</div>
  </div>
  
  <div class="gallery">
    <div class="hide">
    <a target="_blank" href="https://media-cdn.tripadvisor.com/media/photo-s/16/08/c2/6a/ushuaia-ski-in-out-las.jpg">
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/16/08/c2/6a/ushuaia-ski-in-out-las.jpg" alt="Mountains" width="600" height="400">
    </a>
  </div>
    <div class="desc">C Tangana</div>

  </div>
  </div>


  </body>
</html>
<!-- -->

 