<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Testimonials - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">TING Hotels</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="hotelesdestinos">Vuelos y destinos</a></li>
                    <li class="nav-item"><a class="nav-link" href="about">Contáctanos</a></li>
                    <li class="nav-item"><a class="nav-link active" href="opinion">Opiniones</a></li>
                    <!--li class="nav-item"><a class="nav-link" href="hoteldescrip">prueba</a></li-->

                </ul>
            </div>
        </div>
    </nav>
    <main class="page testimonials">
        <section class="clean-block clean-testimonials dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Opiniones</h2>
                    <p></p>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card clean-testimonial-item border-0 rounded-0">
                            <div class="card-body">
                            
                                <a class="lightbox" href="https://www.lavanguardia.com/r/GODO/LV/p3/WebSite/2016/06/20/Recortada/img_gmartin_20160620-231419_imagenes_lv_otras_fuentes_pedrou-kTkB-U402646332255OSB-992x558@LaVanguardia-Web.jpg"><img class="img-thumbnail img-fluid image" src="https://www.lavanguardia.com/r/GODO/LV/p3/WebSite/2016/06/20/Recortada/img_gmartin_20160620-231419_imagenes_lv_otras_fuentes_pedrou-kTkB-U402646332255OSB-992x558@LaVanguardia-Web.jpg"></a>
                            </br>
                        </br>
                                <h3>Pedro Sánchez</h3>
                                <h4 class="card-title">El presidente más guapo de la galaxia</h4>

                                <p class="card-text">"No hay mejor medio para encontrar un lugar desde donde arruinar un país mientras tomas el sol."</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card clean-testimonial-item border-0 rounded-0">
                            <div class="card-body">
                                <a class="lightbox" href="https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Fsundaytimes%2Fprod%2Fweb%2Fbin%2F927879d0-4a92-11ea-9e1c-032b7cdc9719.jpg?crop=2250%2C1500%2C0%2C0&resize=412g"><img class="img-thumbnail img-fluid image" src="https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Fsundaytimes%2Fprod%2Fweb%2Fbin%2F927879d0-4a92-11ea-9e1c-032b7cdc9719.jpg?crop=2250%2C1500%2C0%2C0&resize=412"></a>
                            </br>
                        </br>
                                <h3>Vladímir Putin</h3>
                                <h4 class="card-title">Zar</h4>

                                <p class="card-text">
                                    Комфортнее чернобыля</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card clean-testimonial-item border-0 rounded-0">
                            <div class="card-body">

                               
                                <a class="lightbox" href="https://www.eltiempo.com/files/image_640_428/uploads/2020/10/23/5f92ff2771798.jpeg"><img class="img-thumbnail img-fluid image" src="https://www.eltiempo.com/files/image_640_428/uploads/2020/10/23/5f92ff2771798.jpeg"></a>
                            </br>
                        </br>
                                <h3>Donald J. Trump</h3>
                                <h4 class="card-title">Us President</h4>
                                <p class="card-text">Huge!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Pagina principal</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Vuelos y destinos</h5>
                    <ul></ul>
                </div>
                <div class="col-sm-3">
                    <h5>Opiniones</h5>
                    <ul></ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2020 Copyright Text</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>